


/* App.css */
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns layout */
  gap: 10px; /* Space between items */
  padding-bottom: 30px;
  
  width: 100%;
  box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
}

body{
  background-color:  #f0f0f0;
}

.bubble {
  border-style: dotted;
  height: fit-content;
  border-radius: 5px;
  border-width: 2px;
  border-color: black;
  cursor: pointer;
  padding: 5px;
  text-align: center;
  box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
}


.bubble:hover {
  color: white;
}

header {
  background-color: #333; 
  color: white; 
  padding: 20px; 
  top: 0;
  left: 0;
  width: 100%;
  margin-left: 0;
}

header h1 {
  margin: 0; /* Remove default margin */
}

nav ul {
  list-style-type: none; /* Remove bullet points */
  padding: 0; /* Remove default padding */
}

nav ul li {
  display: inline; /* Display list items horizontally */
  margin-right: 20px; /* Add spacing between list items */
}

nav ul li a {
  color: white; 
  text-decoration: none; /* Remove underline from links */
}

nav ul li a:hover {
  text-decoration: underline; 
  color: greenyellow;
}

footer {
  background-color: #333; 
  bottom: 0;
  position: fixed;
  left: 0;
  width: 100%;
  color: white;
  text-align: center; 
}